@charset "UTF-8";

html { font-size: 16px; }

body {
  display: block;
  margin-top: auto;
  margin-right: auto;
  margin-bottom: auto;
  margin-left: auto;
}

#page {
  // width: 100%;
  // margin-left: auto;
  // margin-right: auto;
  // padding-left: 12.5%;
  // position: relative;
  font-family: 'Lora', serif;
  line-height: 1.6em;
  // background-color: #fffff8;
  color: #111;
  counter-reset: sidenote-counter; 
}

#menu {
  margin-left: -150px; /* "#menu" width */
  left: 150px;
  width: 150px;
  position: fixed;
  top: 0;
  bottom: 0;
  z-index: 1000; /* so the menu or its navicon stays above all content */
  background: #191818;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}

#menuspacer {
  width: 150px;
  float: left;
  clear: left;
}

#main {
  position: relative;
  max-width: 925; // 670px;
  // padding-left: 150px;
  padding-right: 255px;
  margin-left: auto;
  margin-right: auto;
  overflow-y: auto;
}

.header {
  max-width: 670px;
  margin: auto;
  // text-align: center;
  // padding-bottom: 1.3rem;
  overflow-y: auto;
  // padding-left: 170px;
}

article {
  max-width: 670px;
  margin: auto
}

.post {
  max-width: 500px;
  float: right;
}

p, footer, table { 
  width: 100%;
  max-width: 500px; 
}

p, ol, ul { font-size: 1.0rem; }

p { 
  line-height: 1.8rem;
  margin-top: 0;
  margin-bottom: 1.4rem;
  padding-right: 0;
  vertical-align: baseline; 
}

figure {
  display: block;
  width: 500px;
  padding: 0 0 1.4rem 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  -webkit-margin-start: 0;
  -webkit-margin-end: 0;
  margin: 0 0 3em 0;
  margin-left: 0px;
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
}

img { 
  width: 100%;
  height: auto;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Raleway', serif;
  font-weight: 400;
}

h2 {
  margin-top: 1rem;
  margin-bottom: 1rem;
  counter-reset: sidenote-counter; 
}

h1 a:link, h1 a:visited,
h2 a:link, h2 a:visited,
h3 a:link, h3 a:visited,
h4 a:link, h4 a:visited,
h5 a:link, h5 a:visited,
h6 a:link, h6 a:visited {
  text-decoration: none;
}

h1 a:hover,
h2 a:hover,
h3 a:hover,
h4 a:hover,
h5 a:hover,
h6 a:hover {
  text-decoration: underline;
}

a:link { 
  text-decoration: underline;
}

a:link, a:visited { color: inherit; }

.sidenote, .marginnote { 
  float: right;
  clear: right;
  margin-right: -255px;
  width: 225px;
  margin-top: 0;
  margin-bottom: 0;
  font-size: .9rem;
  line-height: 1.15rem;
  vertical-align: baseline;
  // position: relative; 
}

.sidenote-number { counter-increment: sidenote-counter; }

.sidenote-number:after, .sidenote:before { content: counter(sidenote-counter) " ";
                                           'Lora', serif;
                                           position: relative;
                                           vertical-align: baseline; }

.sidenote-number:after { content: counter(sidenote-counter);
                         font-size: .6rem;
                         top: -0.5rem;
                         left: 0rem; }

.sidenote:before { 
  content: counter(sidenote-counter) " ";
  font-size: .6rem;
  top: -0.5rem; 
}

blockquote .sidenote, blockquote .marginnote { margin-right: -82%;
                                               min-width: 59%;
                                               text-align: left; }    


input.margin-toggle { display: none; }

label.sidenote-number { display: inline; }

label.margin-toggle:not(.sidenote-number) { display: none; }

// .header {
//   width: 925px;
//   // padding-left: 170px;
//   margin: auto;
//   text-align: center;
//   padding-bottom: 1.3rem;
// }

.header h1 { 
  font-size: 3rem; 
  font-weight: 700;
  margin-left: 170px;
}

.header h2 { 
  color: #999; 
  margin-left: 170px;
}

.post-meta-data {
  width: 150px;
  padding-right: 20px;
  font-size: .9rem;
  line-height: 1.15rem;
  float: left;
  // margin-left: 0pt;
  // margin-right: 0pt;
  padding-top: 3.9rem;
}

.post-end-hr {
  display: none;
}

.post-date { padding-bottom: 1rem; }

.post-meta-data a:link, .post-meta-data a:visited {
  text-decoration: none;
}

.post-meta-data a:hover {
  text-decoration: underline;
}


/*
All anchors inside the menu should be styled like this.
*/
#menu { 
  font-family: sans-serif; 
  font-weight: 300;
}

#menu a {
  color: #999;
  border: none;
  padding: 0.6em 0 0.6em 0.6em;
  text-decoration: none;
  font-size: 1.1rem;
}

#menu .pure-menu ul,
#menu .pure-menu .menu-item-divided {
  border-top: 1px solid #333;
}


@media (max-width: 1074px) { 
  #menu, #menuspacer {
    display: none;
  }

  #page {
    max-width: 100%;
    width: 100%;
    padding: 0;
    margin: auto;
  }

  #main { 
    // width: 500px;
    max-width: 100%;
    width: 95%;
    padding-right: 0px;
    margin: auto;
  }

  article {
    // width: 500px;
    width: 100%;
    max-width: 100%;
    margin: auto;
  }
  
  .header {
    // width: 500px;
    width: 100%;
    max-width: 100%;
    margin: auto;
  }

  .post {
    width: 100%;
    max-width: 100%;
    float: none;
  }

  .header h1 { 
    margin-left: 0px;
  }
  
  .header h2 { 
    margin-left: 0px;
  }

  .post-end-hr {
    display: block;
    width: 20%;
    margin: 0 auto 1.4rem auto;   display: block;
   position: relative;
   padding: 0;
   // margin: 8px auto;
   height: 0;
   // width: 100%;
   max-height: 0;
   font-size: 1px;
   line-height: 0;
   clear: both;
   border: none;
   border-top: 1px solid #aaaaaa;
   border-bottom: 1px solid #ffffff;
  }

  .post-meta-data {
    width: 100%;
    // width: 500px;
    padding-right: 0px;
    font-size: .9rem;
    line-height: 1.15rem;
    // float: none;
    // margin-left: 0pt;
    // margin-right: 0pt;
    padding-top: 0;
    padding-bottom: 2rem;
  }
  
  .post-date { padding-bottom: 1rem; }
  
  p, footer { 
    width: 100%; 
    max-width: 100%; 
  }
  pre.code { width: 97%; }
  ul { width: 85%; }
  
  figure { 
    max-width: 100%;
    width: 100%;
    margin: auto;
    padding: 0;
  }
  
  figcaption, figure.fullwidth figcaption { margin-right: 0%;
                                            max-width: none; }
  blockquote { 
    margin-left: 1.5em;
    margin-right: 0em; 
  }
  
  blockquote p, blockquote footer { width: 100%; }
  
  label.margin-toggle:not(.sidenote-number) { display: inline; }
                            

  .sidenote, .marginnote { 
    width: 92%;
    display: none;
    width: 0px;

  }
  
  .margin-toggle:checked + .sidenote,
  .margin-toggle:checked + .marginnote { 
    display: block;
    float: left;
    // left: 1rem;
    clear: both;
    width: 92%;
    // padding-right: 100px;
    margin: 1rem 20px;
    vertical-align: baseline;
    position: relative; }
  
  label { cursor: pointer; }
  
  div.table-wrapper, table { width: 85%; }
  
  img { width: 100%; } }

