{{ define "article" }}
<article id="{{ .File.ContentBaseName }}" data-template="single.html">
<header>
{{ $title := .Title -}}
{{ if eq .Parent.Type "project" -}}
  {{ $title = print (.Parent.Params.short_title | default .Parent.Name)  ": " $title -}}
{{ end -}}
<h2><a href="{{ .Permalink }}">{{ $title }}</a></h2>
</header>
<section>
{{ .Content }}
</section>
{{- if (default false $.Site.Params.comments) }}
{{ partial "comments" . }}
{{- end }}
<footer>
<hr>
{{ partial "seclist" . }}
{{ partial "category" . }}
{{ partial "toclist" . }}
{{ partial "taglist" . }}
</footer>
</article>
{{ if or .Prev .Next -}}
<nav>
{{ partial "secnav" . }}
</nav>
{{ end -}}
{{- end -}}
