{{ define "article" }}
<article id="{{ .File.ContentBaseName }}" data-template="single.html">
<header>
<h2><a href="{{ .Permalink }}">{{ .Title }}</a></h2>
</header>
<section>
{{ .Content }}
</section>
{{- if (default false $.Site.Params.comments) }}
{{ partial "comments" . }}
{{- end }}
<footer>
<hr>
{{ partial "seclist" . }}
{{ partial "category" . }}
{{ partial "toclist" . }}
{{ partial "taglist" . }}
</footer>
</article>
{{ if or .Prev .Next -}}
<nav>
{{ partial "secnav" . }}
</nav>
{{ end -}}
{{- end -}}
