<article>
  <h2 class="center"><a href="{{ .Permalink }}">{{ .Title }}</a></h2>
  <div class="post">
    {{ .Content }}
  </div>
    {{ if (default true .Params.comments) }}
    <div class="comment">
      <label for="commentpolicy" class="margin-toggle">&#8853;</label>
      <input type="checkbox" id="commentpolicy" class="margin-toggle"/>
      <span class="marginnote">
        <span class="sc">Comment Policy</span><br>
        Feel free to comment, cheer, and criticize. I like smart opinions that differ from mine. Stay on topic and don’t be a jerk. I will not tolerate harassment, trolls, spam, or phobic nonsense. I will edit or delete comments I find offensive. I will ban repeat offenders. This is my site and I have no obligation to put up with obnoxious behavior.
      </span>
      {{ template "_internal/disqus.html" . }}
    </div>
    {{ end }}
  <div class="post-meta-data">
    <hr class="post-end-hr"/>

    <div class="post-section">
      <a href="/{{.Section}}">{{default (.Site.GetPage "section" .Section).Title  (.Site.GetPage "section" .Section).Params.short_title }}</a>
    </div>

    <div class="post-date">
      <time>{{ with .Site.Params.dateFormat }}{{ $.Date.Format . }}{{ else }}{{ .Date.Format "02 Jan 2006, 15:04" }}{{ end }}</time><br>
    </div>

    {{ $baseUrl := .Site.BaseURL }}

    {{ if isset .Params "topics" }}
    {{ $count := len .Params.topics }}
    {{ if gt $count 0 }}
    <div>
      <ul>
      {{ range $k, $v := .Params.topics }}
        <li><a class="post-taxonomy-topic" href="{{ $baseUrl }}topics/{{ . | urlize }}">{{ . }}</a>{{ if lt $k (sub $count 1) }}&nbsp;&#47;{{ end }}</li>
      {{ end }}
      </ul>
    </div>
    {{ end }}
    {{ end }}

    {{ if isset .Params "tags" }}
    {{ $count := len .Params.tags }}
    {{ if gt $count 0 }}
    <div>
      <ul class="tag-list">
      {{ range $k, $v := sort .Params.tags }}
        <li><i><a class="post-taxonomy-tag" href="{{ $baseUrl }}tags/{{ . | urlize }}">{{ . }}</a>{{ if lt $k (sub $count 1) }} {{ end }}</i></li>
      {{ end }}
    </ul>
    </div>
    {{ end }}
    {{ end }}
  </div>
</article>