<div class="comment">
<label for="commentpolicy" class="margin-toggle">&#8853;</label>
<input type="checkbox" id="commentpolicy" class="margin-toggle"/>
<span class="marginnote">
<span class="sc">Comment Policy</span><br>
Feel free to comment, cheer, and criticize. I like smart opinions that differ from mine. Stay on topic and don’t be a jerk. I will not tolerate harassment, trolls, spam, or phobic nonsense. I will edit or delete comments I find offensive. I will ban repeat offenders. This is my site and I have no obligation to put up with obnoxious behavior.
</span>
{{- template "_internal/disqus.html" . }}
</div>