{{- $copy := default false .Page.Params.copybutton -}}
{{- if .IsNamedParams -}}
  {{- if (isset .Params "copybutton") -}}
    {{- if eq (.Get "copybutton") "false" -}}
      {{- $copy = false -}}
    {{- else -}}
      {{- $copy = true -}}
    {{- end -}}
  {{- end -}}
{{- end -}}
{{- $copyCmd := "" -}}
{{- if eq .Name "excerpt" -}}
  {{- $copyCmd = "copyExcerpt()" -}}
{{ else if eq .Name "codelisting" -}}
  {{- $copyCmd = "copyCodelisting()" -}}
{{ else if eq .Name "cli" -}}
  {{- $copyCmd = "copyCLI()" -}}
{{ end }}
{{- with not $copyCmd -}}{{ $copy = false }}{{- end -}}
{{- if $copy -}}
<div class="copy">
<button class="copybtn" onclick="{{ $copyCmd | safeJS }}">
copy{{ if eq .Name "cli" }} input{{ end }}
</button>
</div>
{{- end -}}