{{ if or (.Paginator.HasPrev) (.Paginator.HasNext) }}
<!-- {{ $prev := "fa fa-chevron-left"}} -->
<!-- {{ $next := "fa fa-chevron-right"}} -->
<nav class="pagination" role="pagination">
  <div class="pagination-wrapper">
    <p>
      {{ if .Paginator.HasPrev }}
      <a class="newer" href="{{ .Paginator.Prev.URL }}">newer</a>
      {{ else }}
      <span class="newer" style="color: #AAAAAA;">coming soon</span>
      {{ end }}
      <span class="pages">&nbsp;{{ .Paginator.PageNumber }} / {{ .Paginator.TotalPages }}&nbsp;</span>
      {{ if .Paginator.HasNext }}
      <a class="older" href="{{ .Paginator.Next.URL }}">older</a>
      {{ else }}
      <span class="older" style="color: #AAAAAA;">beginning</span>
      {{ end }}
    </p>
  </div>
</nav>
{{ end }}