{{ define "article" }}
<article data-template="list.html">
<header>
<h2 class="center">404</h2>
</header>
<section>
<h3 class="center">Sorry. The file you seek is not here.</h3>
<hr class="majorbreak">
<p class="center">Perhaps Ruby can help?</p>
<figure>
  <figcaption>Photo by ...</figcaption>
  <img src="/img/ruby_fence.jpg" alt="">
</figure>
<p class="center">Otherwise, check out the rest of the <a href="/">Jabber</a>.</p>
<!-- <img src="/img/ruby_fence.jpg" style="padding-left: 38px; width: 500px;"> -->
</section>
<footer>
<hr>
</footer>
</article>
<nav>
</nav>
{{ end }}