<!DOCTYPE html>
<html lang="en" class="taxonomy_tag_terms.html">
  {{ partial "head.html" . }}
  <body>
    <div id="page">
      <div id="main">
        {{ partial "header.html" . }}
        <section class="tag_index">
          <h2>Tag Index</h2>
          {{$.Scratch.Set "index_char" (slicestr (index (first 1 .Data.Terms.Alphabetical) 0).Name 0 1 | upper)}}
          <ul>
          <h3>{{$.Scratch.Get "index_char"}}</h3>
          {{- range $k, $v := .Data.Terms.Alphabetical -}}
            {{$.Scratch.Set "curr_char" ((slicestr $v.Name 0 1) | upper)}}
            {{if ne ($.Scratch.Get "index_char") ($.Scratch.Get "curr_char")}}
              {{ $.Scratch.Set "index_char" ($.Scratch.Get "curr_char")}}
          </ul>
          <h3>{{$.Scratch.Get "index_char"}}</h3>
          <ul>
            {{end}}
            {{$default_title := ($.Site.GetPage "taxonomyTerm" (printf "tags/%s" $v.Name)).Title}}
            {{$title := $.Param (printf "corrected_tags.%s" $default_title)}}
            <li><span class="tag"><a href="{{ .Name }}">{{default $default_title $title}}</a>: {{.Count}}</li>
          {{- end -}}
          </ul>
        </section>
      </div>
    </div>  
    {{ partial "footer.html" . }}
  </body>
</html>