<!DOCTYPE html>
<html lang="en" class="section_post.html">
  {{ partial "head.html" . }}
  <body>
    <div id="page">
      <div id="main">
        {{ partial "header.html" . }}
        <section class="toc">
          <h2>Blog Chronology</h2>
          {{ range .Data.Pages.GroupByDate "2006" }}
          <h3>{{ .Key }}</h3>
          <ul>
              {{ range .Pages }}
              <li>
              <a href="{{ .Permalink }}">{{ .Title }}</a> <span class="chron-date">{{ .Date.Format "January 2" }}</span>
              </li>
              {{ end }}
          </ul>
          {{ end }}
        </section>
      </div>
    </div>  
    {{ partial "footer.html" . }}
  </body>
</html>





